"*":
  core:
    audioBeep: false
    openEmptyEditorOnStart: false
    projectHome: "~/code"
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "574c4f71-2092-0097-93d8-96f91daa6495"
  welcome:
    showOnStartup: false
